cxf-server/src/orderEndpoint.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://anikulin.ee/cameltest/orderService"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://anikulin.ee/cameltest/orderService">
    <wsdl:types>
        <xs:schema targetNamespace="http://anikulin.ee/cameltest/orderService">
            <xs:element type="tns:OrderRequestType" name="OrderRequest"/>
            <xs:element type="tns:OrderResponseType" name="OrderResponse"/>

            <xs:complexType name="OrderRequestType">
                <xs:sequence>
                    <xs:element name="item" type="xs:string" />
                    <xs:element name="amount" type="xs:int"  />
                    <xs:element name="customer" type="xs:string"  />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="OrderResponseType">
                <xs:sequence>
                    <xs:element name="orderNr" type="xs:int"/>
                    <xs:element name="details" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>


            <xs:element type="xs:int" name="amount"/>
            <xs:element type="xs:string" name="customerName"/>
            <xs:element type="xs:string" name="resultCode"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="purchaseOrder">
        <wsdl:part name="parameters" element="tns:OrderRequest"/>
    </wsdl:message>

    <wsdl:message name="orderResult">
        <wsdl:part name="parameters" element="tns:OrderResponse"/>
    </wsdl:message>

    <wsdl:portType name="OrderEndpoint">
        <wsdl:operation name="order">
            <wsdl:input message="tns:purchaseOrder"/>
            <wsdl:output message="tns:orderResult"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderBinding"
                  type="tns:OrderEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="order">
            <soap:operation
                    soapAction="http://anikulin.ee/cameltest/orderService/Order" style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderEndpointService">
        <wsdl:port name="OrderService" binding="tns:OrderBinding">
            <soap:address location="http://localhost:9000/order"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>